<div class="mb-5 p-5 pt-3 border">
  <h4 class="text-center mb-3">Post Form</h4>

  <div class="mb-3">
    <input
      #titleInput
      [(ngModel)]="title"
      type="text"
      class="form-control"
      placeholder="enter title...">
  </div>

  <div class="mb-3">
    <input
      [(ngModel)]="text"
      type="text"
      class="form-control"
      placeholder="enter text...">
  </div>

  <div class="d-flex flex-column">
    <button (click)="addPost()" class="btn btn-outline-primary mb-2">
      Add post
    </button>
    <button (click)="focusTitle()" class="btn btn-outline-secondary">
      Focus title
    </button>
  </div>
</div>


