<div class="container p-5">
  <h1 class="text-center mb-5">{{ title }}</h1>

  <h5>Subtitle</h5>

  <app-post-form
    (onAdd)="updatePosts($event)"
  ></app-post-form>

  <app-post
    *ngFor="let p of posts"
    [post]="p"
    (onRemove)="removePost($event)"
  >
    <div #info>
      <small *ngIf="p.text.length > 30; else short" class="text-warning">This is a normal length post</small>
      <ng-template #short>
        <small class="text-danger">This is a short post</small>
      </ng-template>
    </div>
  </app-post>
</div>
